<div class="side-menu">
    <ul>
     <li> <a (click)="setComponent('viewRequisitions')"> <i style="margin-right: 5px; color: white;" class="fa-solid fa-receipt" (click)="setComponent('viewRequisitions')"></i> View Requisitions</a></li>
      <li><a (click)="setComponent('CreatreRequisition')"><i style="margin-right: 5px; color: white;" class="fa-solid fa-file-medical" (click)="setComponent('CreatreRequisition')"></i>Create Requisition</a></li>
      <li><a (click)="setComponent('showResults')"><i style="margin-right: 5px; color: white;" class="fa-solid fa-eye" (click)="setComponent('showResults')"></i>Results</a></li>
      <li><a routerLink="/contact"><i style="margin-right: 5px; color: white;" class="fa-solid fa-hospital-user"></i>Reports</a></li>
    </ul>
  </div>